/* Variables */
$burdeos: rgb(120, 8, 8);
.navbar-burdeos{
    background-color: $burdeos;
}

$bordes:3px solid;
.button-bordes{
    border: $bordes;
}

$aumento: 150%;
.aumentar-letra{
    font-size: $aumento;
}

$margen:20vw;
.margen-izquierda{
    margin-left: $margen;
}

$no:none;
.sin-estilo{
    text-decoration: $no;
}

$mitad:50%;
.translucido{
    opacity: $mitad;
}

/* Anidaciones */
button {
    span {
      color: rgb(208, 255, 0);
      font-weight: 500;
    }
  }
  
thead{
    tr{
        th{
            background-color: rgb(123, 173, 54);
            color: aquamarine;
        }
    }
}

tbody{
    tr{
        td{
            border-color: blue;
            border: 3px solid;
        }
    }
}

ul{
    li{
        letter-spacing: 3px;
    }
}

div{
    p{
        font-style: italic;
    }
}

a{
    button{
        margin-top: 3%;
    }
}

@function media($a, $b) {
    @return ($a + $b) / 2;
  }
  
.contenedor {
    width: media(960px,600px);
    margin: 0 auto;
}

@function percentage($value, $total) {
    @return ($value / $total) * 100%;
}

.progressbar {
    width: percentage(50, 450);
    height: 20px;
    background-color: rgb(177, 20, 20);
    color: white;
}

@function opacidad($background-color) {
    $opacity: opacity($background-color);
    @if ($opacity > 50%) {
      @return rgb(17, 135, 24);
    } @else {
      @return rgb(19, 9, 104);
    }
}
  
.tarjeta {
    background-color: rgb(45, 175, 129);
    color: opacidad(#fff);
  }
  
@mixin text-shadow($shadows...) {
  text-shadow: $shadows;
}

h1 {
  @include text-shadow(1px 1px #333, 2px 2px #444);
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.center {
    @include center;
}
  